<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello there!</h1>
    <p>This website gives you the server's local time.</p>
    <p>Created By: Kevin To</p>
    <p><%= displayDateTime %></p>
  </body>
</html>
